./Partial Components Analysis/calibration_data.xlsx
./Partial Components Analysis/raw_calibration_data.xlsx
./Partial Components Analysis/msc_calibration_data.xlsx
./Partial Components Analysis/snv_calibration_data.xlsx
./Partial Components Analysis/sg_calibration_data.xlsx

./Partial Components Analysis/validation_data.xlsx
./Partial Components Analysis/raw_validation_data.xlsx
./Partial Components Analysis/msc_validation_data.xlsx
./Partial Components Analysis/snv_validation_data.xlsx
./Partial Components Analysis/sg_validation_data.xlsx

cotton_unscrumbler_refs.unsb