./Partial Components Analyses/calibration_data.xlsx
./Partial Components Analyses/raw_calibration_data.xlsx
./Partial Components Analyses/msc_calibration_data.xlsx
./Partial Components Analyses/snv_calibration_data.xlsx
./Partial Components Analyses/sg_calibration_data.xlsx

./Partial Components Analyses/validation_data.xlsx
./Partial Components Analyses/raw_validation_data.xlsx
./Partial Components Analyses/msc_validation_data.xlsx
./Partial Components Analyses/snv_validation_data.xlsx
./Partial Components Analyses/sg_validation_data.xlsx