Avaliações/*.xlsx
Multilayer Perceptron Regressor/*.xlsx
Partial Components Analysis/*.xlsx
Partial Components Regression/*.xlsx
Partial Least Squares Regression/*.xlsx
Pre-processamento/*.xlsx
Random Forest Regressor/*.xlsx
Support Vector Machine/*.xlsx
resultados_cotton.xlsx